<div class="overlay">
    <div class="container pt-5">
        <h2 class="text-center text-warning mb-4 fw-bold shadow-text">🌲 ZONA DE CAZA POKÉMON</h2>
        
        <div class="text-center mt-3 pb-4">
            <button (click)="logout()" class="btn btn-outline-light btn-sm px-4">Salir del juego</button>
        </div>

        <div *ngIf="mensajeResultado" [class]="'alert ' + claseResultado + ' mt-3 animate__animated animate__fadeIn'">
            {{ mensajeResultado }}
            <button *ngIf="claseResultado === 'alert-success' && obtenerRol() === 'ROLE_USER'" 
                    routerLink="/mis-pokemons" class="btn btn-sm btn-success ms-3 shadow-sm">
                Ver Mi Mochila 🎒
            </button>
        </div>

        <div *ngIf="pokemonsSalvajes.length === 0 && !mensajeResultado" class="text-center text-white mt-5">
            <p class="h4 mb-3">Buscando Pokémon...</p>
            <div class="spinner-grow text-warning" role="status"></div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-2">
            <div class="col" *ngFor="let p of pokemonsSalvajes">
                <div class="card h-100 pokedex-card text-white shadow bg-dark border-secondary">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold text-uppercase">{{ p.nombre }}</h5>
                        <span class="badge rounded-pill bg-primary mb-3">{{ p.tipo }}</span>
                        
                        <button *ngIf="obtenerRol() === 'ROLE_USER'" 
                                (click)="intentarCapturar(p)" 
                                class="btn btn-warning w-100 fw-bold mt-auto">🥊 BATALLA</button>

                        <button *ngIf="obtenerRol() === 'ROLE_ADMIN'" 
                                (click)="borrarPokemon(p.id)" 
                                class="btn btn-danger w-100 fw-bold mt-auto">🗑️ ELIMINAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>